openapi: 3.1.0
info:
  title: A-Cube Peppol API
  description: ''
  version: 1.0.0
  x-logo:
    url: 'https://www.acubeapi.com/logo.svg'
servers:
  - url: 'https://peppol-sandbox.api.acubeapi.com'
    description: A-Cube API Peppol sandbox environment
  - url: 'https://peppol.api.acubeapi.com'
    description: A-Cube API Peppol production environment
    x-production: hide
security:
  - Bearer: []
tags:
  - name: DocumentType
  - name: Process
  - name: CreditNote
  - name: DespatchAdvice
  - name: Invoice
  - name: LegalEntity
  - name: LegalEntitySubAccount
  - name: Order
  - name: OrderResponse
  - name: Webhook
paths:
  /credit-notes:
    get:
      summary: Retrieves the collection of CreditNote resources.
      operationId: api_credit-notes_get_collection
      tags:
        - CreditNote
      description: Retrieves the collection of CreditNote resources.
      parameters:
        - name: page
          in: query
          description: The collection page number
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
          style: form
          explode: false
          allowReserved: false
        - name: itemsPerPage
          in: query
          description: The number of items per page
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 30
            minimum: 0
            maximum: 30
          style: form
          explode: false
          allowReserved: false
        - name: senderName
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: senderId
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'senderId[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: recipientName
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: recipientId
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'recipientId[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: documentNumber
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentNumber[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: 'sortBy[createdAt]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[documentDate]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[senderName]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[recipientName]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[strictly_before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[strictly_after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[strictly_before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[strictly_after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: downloaded
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: boolean
          style: form
          explode: false
          allowReserved: false
        - name: direction
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            description: >-
              Filter document by direction, chose between "outgoing" or
              "incoming"
            enum:
              - outgoing
              - incoming
            type: string
          style: form
          explode: false
          allowReserved: false
      responses:
        '200':
          description: CreditNote collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  'hydra:member':
                    type: array
                    items:
                      $ref: '#/components/schemas/CreditNote.CreditNoteOutput.jsonld'
                  'hydra:totalItems':
                    type: integer
                    minimum: 0
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      'hydra:first':
                        type: string
                        format: iri-reference
                      'hydra:last':
                        type: string
                        format: iri-reference
                      'hydra:previous':
                        type: string
                        format: iri-reference
                      'hydra:next':
                        type: string
                        format: iri-reference
                    example:
                      '@id': string
                      type: string
                      'hydra:first': string
                      'hydra:last': string
                      'hydra:previous': string
                      'hydra:next': string
                  'hydra:search':
                    type: object
                    properties:
                      '@type':
                        type: string
                      'hydra:template':
                        type: string
                      'hydra:variableRepresentation':
                        type: string
                      'hydra:mapping':
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                                - string
                                - 'null'
                            required:
                              type: boolean
                required:
                  - 'hydra:member'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            application/pdf:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /credit-notes/downloaded:
    post:
      summary: Mark the documents as downloaded
      operationId: api_credit-notesdownloaded_post
      tags:
        - CreditNote
      description: >-
        This is useful to keep track of the document that have been received by
        the user.
      parameters: []
      responses:
        '204':
          description: CreditNote resource created
          content:
            application/ld+json:
              schema: {}
            application/json:
              schema: {}
            text/html:
              schema: {}
            application/xml:
              schema: {}
            text/xml:
              schema: {}
            application/pdf:
              schema: {}
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      requestBody:
        description: The new CreditNote resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNote.DownloadedInput'
        required: true
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /credit-notes/outgoing/ubl:
    post:
      summary: Create a new credit note in UBL format
      operationId: api_credit_notes_post_outgoing_ubl_collection
      tags:
        - CreditNote
      description: >-
        Send a credit note in either the original XML format or the JSON
        transposition.

        You must send the XML or JSON as the request body along with the right
        `Content-Type` header (`application/xml` or `application/json`).


        Optionally you can send the `X-Validation-Rule: {validation-rule-code}`
        where `{validation-rule-code}` is one of the available validation rules
        you can use.

        You can retrieve a list of the available validation rules using the API
        `GET /validation-rules`.

        By default the validation rule is autodetected using the latest rule
        available for the given document.
      parameters: []
      responses:
        '202':
          description: CreditNote resource created
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/credit-notes/{uuid}':
    get:
      summary: Retrieves a CreditNote resource.
      operationId: api_credit-notes_uuid_get
      tags:
        - CreditNote
      description: Retrieves a CreditNote resource.
      parameters:
        - name: uuid
          in: path
          description: CreditNote identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: CreditNote resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/CreditNote.CreditNoteOutput'
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/credit-notes/{uuid}/print':
    get:
      summary: Get the printed version of the document
      operationId: api_credit-notes_uuidprint_get
      tags:
        - CreditNote
      description: >-
        You will receive a 302 redirect response with the Location header
        pointing to the downloadable file. Additionally you get the URL to the
        downloaded file in the JSON response body.
      parameters:
        - name: uuid
          in: path
          description: CreditNote identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '302':
          description: CreditNote resource
          content:
            text/html:
              schema: {}
            application/pdf:
              schema: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/credit-notes/{uuid}/source':
    get:
      summary: Get the original source document
      operationId: api_credit-notes_uuidsource_get
      tags:
        - CreditNote
      description: >-
        You can retrieve the original source document in either XML or JSON
        format.
      parameters:
        - name: uuid
          in: path
          description: CreditNote identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '204':
          description: CreditNote resource
          content:
            application/xml:
              schema: {}
            application/json:
              schema: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /despatch-advices:
    get:
      summary: Retrieves the collection of DespatchAdvice resources.
      operationId: api_despatch-advices_get_collection
      tags:
        - DespatchAdvice
      description: Retrieves the collection of DespatchAdvice resources.
      parameters:
        - name: page
          in: query
          description: The collection page number
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
          style: form
          explode: false
          allowReserved: false
        - name: itemsPerPage
          in: query
          description: The number of items per page
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 30
            minimum: 0
            maximum: 30
          style: form
          explode: false
          allowReserved: false
        - name: senderName
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: senderId
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'senderId[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: recipientName
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: recipientId
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'recipientId[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: documentNumber
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentNumber[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: 'sortBy[createdAt]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[documentDate]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[senderName]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[recipientName]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[strictly_before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[strictly_after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[strictly_before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[strictly_after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: downloaded
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: boolean
          style: form
          explode: false
          allowReserved: false
        - name: direction
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            description: >-
              Filter document by direction, chose between "outgoing" or
              "incoming"
            enum:
              - outgoing
              - incoming
            type: string
          style: form
          explode: false
          allowReserved: false
      responses:
        '200':
          description: DespatchAdvice collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  'hydra:member':
                    type: array
                    items:
                      $ref: >-
                        #/components/schemas/DespatchAdvice.DespatchAdviceOutput.jsonld
                  'hydra:totalItems':
                    type: integer
                    minimum: 0
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      'hydra:first':
                        type: string
                        format: iri-reference
                      'hydra:last':
                        type: string
                        format: iri-reference
                      'hydra:previous':
                        type: string
                        format: iri-reference
                      'hydra:next':
                        type: string
                        format: iri-reference
                    example:
                      '@id': string
                      type: string
                      'hydra:first': string
                      'hydra:last': string
                      'hydra:previous': string
                      'hydra:next': string
                  'hydra:search':
                    type: object
                    properties:
                      '@type':
                        type: string
                      'hydra:template':
                        type: string
                      'hydra:variableRepresentation':
                        type: string
                      'hydra:mapping':
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                                - string
                                - 'null'
                            required:
                              type: boolean
                required:
                  - 'hydra:member'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            application/pdf:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /despatch-advices/downloaded:
    post:
      summary: Mark the documents as downloaded
      operationId: api_despatch-advicesdownloaded_post
      tags:
        - DespatchAdvice
      description: >-
        This is useful to keep track of the document that have been received by
        the user.
      parameters: []
      responses:
        '204':
          description: DespatchAdvice resource created
          content:
            application/ld+json:
              schema: {}
            application/json:
              schema: {}
            text/html:
              schema: {}
            application/xml:
              schema: {}
            text/xml:
              schema: {}
            application/pdf:
              schema: {}
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      requestBody:
        description: The new DespatchAdvice resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DespatchAdvice.DownloadedInput'
        required: true
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /despatch-advices/outgoing/ubl:
    post:
      summary: Create a new despatch advice in UBL format
      operationId: api_despatch_advices_post_outgoing_ubl_collection
      tags:
        - DespatchAdvice
      description: >-
        Send a despatch advice in either the original XML format or the JSON
        transposition.

        You must send the XML or JSON as the request body along with the right
        `Content-Type` header (`application/xml` or `application/json`).


        Optionally you can send the `X-Validation-Rule: {validation-rule-code}`
        where `{validation-rule-code}` is one of the available validation rules
        you can use.

        You can retrieve a list of the available validation rules using the API
        `GET /validation-rules`.

        By default the validation rule is autodetected using the latest rule
        available for the given document.
      parameters: []
      responses:
        '202':
          description: DespatchAdvice resource created
          content:
            application/ld+json:
              schema:
                $ref: >-
                  #/components/schemas/DespatchAdvice.DespatchAdviceOutput.jsonld
            application/json:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/despatch-advices/{uuid}':
    get:
      summary: Retrieves a DespatchAdvice resource.
      operationId: api_despatch-advices_uuid_get
      tags:
        - DespatchAdvice
      description: Retrieves a DespatchAdvice resource.
      parameters:
        - name: uuid
          in: path
          description: DespatchAdvice identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: DespatchAdvice resource
          content:
            application/ld+json:
              schema:
                $ref: >-
                  #/components/schemas/DespatchAdvice.DespatchAdviceOutput.jsonld
            application/json:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/DespatchAdvice.DespatchAdviceOutput'
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/despatch-advices/{uuid}/source':
    get:
      summary: Get the original source document
      operationId: api_despatch-advices_uuidsource_get
      tags:
        - DespatchAdvice
      description: >-
        You can retrieve the original source document in either XML or JSON
        format.
      parameters:
        - name: uuid
          in: path
          description: DespatchAdvice identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '204':
          description: DespatchAdvice resource
          content:
            application/xml:
              schema: {}
            application/json:
              schema: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /document-types:
    get:
      summary: Retrieves the collection of DocumentType resources.
      operationId: api_document-types_get_collection
      tags:
        - DocumentType
      description: >-
        Get the list of supported document types.

        For a complete and official list see
        https://docs.peppol.eu/edelivery/codelists/
      parameters:
        - name: page
          in: query
          description: The collection page number
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
          style: form
          explode: false
          allowReserved: false
        - name: itemsPerPage
          in: query
          description: The number of items per page
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 30
            minimum: 0
            maximum: 30
          style: form
          explode: false
          allowReserved: false
      responses:
        '200':
          description: DocumentType collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  'hydra:member':
                    type: array
                    items:
                      $ref: >-
                        #/components/schemas/DocumentType.DocumentTypeOutput.jsonld
                  'hydra:totalItems':
                    type: integer
                    minimum: 0
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      'hydra:first':
                        type: string
                        format: iri-reference
                      'hydra:last':
                        type: string
                        format: iri-reference
                      'hydra:previous':
                        type: string
                        format: iri-reference
                      'hydra:next':
                        type: string
                        format: iri-reference
                    example:
                      '@id': string
                      type: string
                      'hydra:first': string
                      'hydra:last': string
                      'hydra:previous': string
                      'hydra:next': string
                  'hydra:search':
                    type: object
                    properties:
                      '@type':
                        type: string
                      'hydra:template':
                        type: string
                      'hydra:variableRepresentation':
                        type: string
                      'hydra:mapping':
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                                - string
                                - 'null'
                            required:
                              type: boolean
                required:
                  - 'hydra:member'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentType.DocumentTypeOutput'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentType.DocumentTypeOutput'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentType.DocumentTypeOutput'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentType.DocumentTypeOutput'
            application/pdf:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentType.DocumentTypeOutput'
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /invoices:
    get:
      summary: Retrieves the collection of Invoice resources.
      operationId: api_invoices_get_collection
      tags:
        - Invoice
      description: Retrieves the collection of Invoice resources.
      parameters:
        - name: page
          in: query
          description: The collection page number
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
          style: form
          explode: false
          allowReserved: false
        - name: itemsPerPage
          in: query
          description: The number of items per page
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 30
            minimum: 0
            maximum: 30
          style: form
          explode: false
          allowReserved: false
        - name: senderName
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: senderId
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'senderId[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: recipientName
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: recipientId
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'recipientId[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: documentNumber
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentNumber[]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          allowReserved: false
        - name: 'sortBy[createdAt]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[documentDate]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[senderName]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[recipientName]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[strictly_before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'createdAt[strictly_after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[strictly_before]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: 'documentDate[strictly_after]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: downloaded
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: boolean
          style: form
          explode: false
          allowReserved: false
        - name: direction
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            description: >-
              Filter document by direction, chose between "outgoing" or
              "incoming"
            enum:
              - outgoing
              - incoming
            type: string
          style: form
          explode: false
          allowReserved: false
      responses:
        '200':
          description: Invoice collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  'hydra:member':
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice.InvoiceOutput.jsonld'
                  'hydra:totalItems':
                    type: integer
                    minimum: 0
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      'hydra:first':
                        type: string
                        format: iri-reference
                      'hydra:last':
                        type: string
                        format: iri-reference
                      'hydra:previous':
                        type: string
                        format: iri-reference
                      'hydra:next':
                        type: string
                        format: iri-reference
                    example:
                      '@id': string
                      type: string
                      'hydra:first': string
                      'hydra:last': string
                      'hydra:previous': string
                      'hydra:next': string
                  'hydra:search':
                    type: object
                    properties:
                      '@type':
                        type: string
                      'hydra:template':
                        type: string
                      'hydra:variableRepresentation':
                        type: string
                      'hydra:mapping':
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                                - string
                                - 'null'
                            required:
                              type: boolean
                required:
                  - 'hydra:member'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice.InvoiceOutput'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice.InvoiceOutput'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice.InvoiceOutput'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice.InvoiceOutput'
            application/pdf:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice.InvoiceOutput'
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /invoices/downloaded:
    post:
      summary: Mark the documents as downloaded
      operationId: api_invoicesdownloaded_post
      tags:
        - Invoice
      description: >-
        This is useful to keep track of the document that have been received by
        the user.
      parameters: []
      responses:
        '204':
          description: Invoice resource created
          content:
            application/ld+json:
              schema: {}
            application/json:
              schema: {}
            text/html:
              schema: {}
            application/xml:
              schema: {}
            text/xml:
              schema: {}
            application/pdf:
              schema: {}
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      requestBody:
        description: The new Invoice resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice.DownloadedInput'
        required: true
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /invoices/outgoing/ubl:
    post:
      summary: Create a new invoice in UBL format
      operationId: api_invoices_post_outgoing_ubl_collection
      tags:
        - Invoice
      description: >-
        Send a invoice in either the original XML format or the JSON
        transposition.

        You must send the XML or JSON as the request body along with the right
        `Content-Type` header (`application/xml` or `application/json`).


        Optionally you can send the `X-Validation-Rule: {validation-rule-code}`
        where `{validation-rule-code}` is one of the available validation rules
        you can use.

        You can retrieve a list of the available validation rules using the API
        `GET /validation-rules`.

        By default the validation rule is autodetected using the latest rule
        available for the given document.
      parameters: []
      responses:
        '202':
          description: Invoice resource created
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
      requestBody:
        content:
          application/xml:
            schema:
              type: string
          application/json:
            schema:
              type: string
  '/invoices/{uuid}':
    get:
      summary: Retrieves a Invoice resource.
      operationId: api_invoices_uuid_get
      tags:
        - Invoice
      description: Retrieves a Invoice resource.
      parameters:
        - name: uuid
          in: path
          description: Invoice identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: Invoice resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Invoice.InvoiceOutput'
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/invoices/{uuid}/print':
    get:
      summary: Get the printed version of the document
      operationId: api_invoices_uuidprint_get
      tags:
        - Invoice
      description: >-
        You will receive a 302 redirect response with the Location header
        pointing to the downloadable file. Additionally you get the URL to the
        downloaded file in the JSON response body.
      parameters:
        - name: uuid
          in: path
          description: Invoice identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '302':
          description: Invoice resource
          content:
            text/html:
              schema: {}
            application/pdf:
              schema: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/invoices/{uuid}/source':
    get:
      summary: Get the original source document
      operationId: api_invoices_uuidsource_get
      tags:
        - Invoice
      description: >-
        You can retrieve the original source document in either XML or JSON
        format.
      parameters:
        - name: uuid
          in: path
          description: Invoice identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '204':
          description: Invoice resource
          content:
            application/xml:
              schema: {}
            application/json:
              schema: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  /legal-entities:
    get:
      summary: Retrieves the collection of LegalEntity resources.
      operationId: api_legal-entities_get_collection
      tags:
        - LegalEntity
      description: Retrieves the collection of LegalEntity resources.
      parameters:
        - name: page
          in: query
          description: The collection page number
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
          style: form
          explode: false
          allowReserved: false
        - name: itemsPerPage
          in: query
          description: The number of items per page
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 30
            minimum: 0
            maximum: 30
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[createdAt]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[registeredName]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[identifierScheme]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: 'sortBy[identifierValue]'
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          style: form
          explode: false
          allowReserved: false
        - name: identifierValue
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
        - name: registeredName
          in: query
          description: ''
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: form
          explode: false
          allowReserved: false
      responses:
        '200':
          description: LegalEntity collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  'hydra:member':
                    type: array
                    items:
                      $ref: >-
                        #/components/schemas/LegalEntity.LegalEntityOutput.jsonld
                  'hydra:totalItems':
                    type: integer
                    minimum: 0
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      'hydra:first':
                        type: string
                        format: iri-reference
                      'hydra:last':
                        type: string
                        format: iri-reference
                      'hydra:previous':
                        type: string
                        format: iri-reference
                      'hydra:next':
                        type: string
                        format: iri-reference
                    example:
                      '@id': string
                      type: string
                      'hydra:first': string
                      'hydra:last': string
                      'hydra:previous': string
                      'hydra:next': string
                  'hydra:search':
                    type: object
                    properties:
                      '@type':
                        type: string
                      'hydra:template':
                        type: string
                      'hydra:variableRepresentation':
                        type: string
                      'hydra:mapping':
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                            variable:
                              type: string
                            property:
                              type:
                                - string
                                - 'null'
                            required:
                              type: boolean
                required:
                  - 'hydra:member'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            application/pdf:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
    post:
      summary: Creates a LegalEntity resource.
      operationId: api_legal-entities_post
      tags:
        - LegalEntity
      description: Creates a LegalEntity resource.
      parameters: []
      responses:
        '201':
          description: LegalEntity resource created
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      requestBody:
        description: The new LegalEntity resource
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput.jsonld'
          application/json:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
          text/html:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
          text/xml:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
          application/pdf:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
        required: true
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/legal-entities/{uuid}':
    get:
      summary: Retrieves a LegalEntity resource.
      operationId: api_legal-entities_uuid_get
      tags:
        - LegalEntity
      description: Retrieves a LegalEntity resource.
      parameters:
        - name: uuid
          in: path
          description: LegalEntity identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: LegalEntity resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
    put:
      summary: Replaces the LegalEntity resource.
      operationId: api_legal-entities_uuid_put
      tags:
        - LegalEntity
      description: Replaces the LegalEntity resource.
      parameters:
        - name: uuid
          in: path
          description: LegalEntity identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: LegalEntity resource updated
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntityOutput'
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      requestBody:
        description: The updated LegalEntity resource
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput.jsonld'
          application/json:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
          text/html:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
          text/xml:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
          application/pdf:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityInput'
        required: true
      deprecated: false
      x-apiplatform-tag:
        - ZZ
    delete:
      summary: Removes the LegalEntity resource.
      operationId: api_legal-entities_uuid_delete
      tags:
        - LegalEntity
      description: Removes the LegalEntity resource.
      parameters:
        - name: uuid
          in: path
          description: LegalEntity identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '204':
          description: LegalEntity resource deleted
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/legal-entities/{uuid}/smp':
    get:
      summary: Read SMP records
      operationId: api_legal-entities_uuidsmp_get
      tags:
        - LegalEntity
      description: Read the SMP records for the LegalEntity resource
      parameters:
        - name: uuid
          in: path
          description: LegalEntity identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: LegalEntity resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
    put:
      summary: Manage SMP records
      operationId: api_legal-entities_uuidsmp_put
      tags:
        - LegalEntity
      description: Manage the SMP records for the LegalEntity resource
      parameters:
        - name: uuid
          in: path
          description: LegalEntity identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: LegalEntity resource updated
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput.jsonld'
            application/json:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
            text/html:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
            application/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
            text/xml:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LegalEntity.LegalEntitySMPOutput'
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      requestBody:
        description: The updated LegalEntity resource
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntitySMPInput.jsonld'
          application/json:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntitySMPInput'
          text/html:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntitySMPInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntitySMPInput'
          text/xml:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntitySMPInput'
          application/pdf:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntitySMPInput'
        required: true
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/legal-entities/{uuid}/transfer-bridge':
    get:
      summary: Read Transfer Bridge options
      operationId: api_legal-entities_uuidtransfer-bridge_get
      tags:
        - LegalEntity
      description: Read the Transfer Bridge options for the LegalEntity resource
      parameters:
        - name: uuid
          in: path
          description: LegalEntity identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: LegalEntity resource
          content:
            application/ld+json:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput.jsonld
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
            text/html:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
            application/pdf:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
      deprecated: false
      x-apiplatform-tag:
        - ZZ
    put:
      summary: Manage Transfer Bridge options
      operationId: api_legal-entities_uuidtransfer-bridge_put
      tags:
        - LegalEntity
      description: Manage the Transfer Bridge options for the LegalEntity resource
      parameters:
        - name: uuid
          in: path
          description: LegalEntity identifier
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
      responses:
        '200':
          description: LegalEntity resource updated
          content:
            application/ld+json:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput.jsonld
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
            text/html:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
            application/pdf:
              schema:
                $ref: >-
                  #/components/schemas/LegalEntity.LegalEntityTransferBridgeOutput
          links: {}
        '400':
          description: Invalid input
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '403':
          description: Forbidden
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '404':
          description: Not found
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Error.jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          links: {}
        '422':
          description: An error occurred
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation.jsonld-jsonld'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintViolation-json'
          links: {}
      requestBody:
        description: The updated LegalEntity resource
        content:
          application/ld+json:
            schema:
              $ref: >-
                #/components/schemas/LegalEntity.LegalEntityTransferBridgeInput.jsonld
          application/json:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityTransferBridgeInput'
          text/html:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityTransferBridgeInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityTransferBridgeInput'
          text/xml:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityTransferBridgeInput'
          application/pdf:
            schema:
              $ref: '#/components/schemas/LegalEntity.LegalEntityTransferBridgeInput'
        required: true
      deprecated: false
      x-apiplatform-tag:
        - ZZ
  '/legal-entities/{legalEntityUuid}/sub-accounts':
    get:
      summary: Retrieve all sub-accounts for a specific legal entity.
      operationId: api_legal-entities_legalEntityUuidsub-accounts_get_collection
      tags:
        - LegalEntitySubAccount
      description: >-
        Retrieves a list of sub-accounts associated with a specific legal
        entity, identified by its UUID.
      parameters:
        - name: legalEntityUuid
          in: path
          description: The UUID of the legal entity to which the sub-accounts belong.
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
          style: simple
          explode: false
          allowReserved: false
        - name: page
          in: query
          description: The collection page number
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
          style: form
          explode: false
          allowReserved: false
        - name: itemsPerPage
          in: query
          description: The number of items per page
          required: false
          deprecated: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 30
            minimum: 0
            maximum: 30
          style: form
          explode: false
          allowReserved: false
      responses:
        '200':
          description: LegalEntitySubAccount collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  'hydra:member':
                    type: array
                    items:
                      $ref: >-
                        #/components/schemas/LegalEntitySubAccount.LegalEntitySubAccountOutput.jsonld
                  'hydra:totalItems':
                    type: integer
                    minimum: 0
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                        format: iri-reference
                      '@type':
                        type: string
                      'hydra:first':
                        type: string
                        format: iri-reference
                      'hydra:last':
                        type: string
                        format: iri-reference
                      'hydra:previous':
                        type: string
                        format: iri-reference
                      'hydra:next':
                        type: string
                        format: iri-reference
                    example:
                      '@id': string
                      type: string
                      'hydra:first': string
[...]
