openapi: 3.0.0
info:
  title: Arratech API
  version: 1.0.0
  description: >-
    Multi-tenancy API for e-invoicing services. This API is work in progress and
    may contain faulty or incomplete documentation.


    ## How to read this API

    The API is structured in two sections, the first section is the API
    endpoints and the second section is the data types. In the data type section
    all properties for the full datatypes are listed and described. Different
    endpoints are then using different subsets of the full datatypes, e.g. a
    read endpoint typically returns more properties than an update endpoint, so
    each endpoint lists the subset of the datatype that applies to that
    endpoint.
servers:
  - url: 'https://api.arratech.com'
    description: Production Server
  - url: 'https://test.ion-ap.net'
tags: []
paths:
  /users:
    get:
      summary: Get all users
      tags:
        - Users
      description: Retrieves a paginated list of all users. Requires superadmin role.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: 'Maximum number of users to return (10-1000, default: 100)'
          required: false
          schema:
            type: integer
            minimum: 10
            maximum: 1000
            default: 100
            example: 100
        - name: lastEvaluatedKey
          in: query
          description: Token for pagination. Use this to get the next page of results.
          required: false
          schema:
            type: string
            example: pagination-token
      responses:
        '200':
          description: Paginated list of users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                    description: Array of users for the current page
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                  - items
                  - pagination
        '400':
          description: Bad Request - Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Invalid Limit:
                  value:
                    code: AT-1055
                    error: Pagination limit must be between 10 and 1000
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have superadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '500':
          description: Internal Server Error - Failed to fetch users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  /users/me:
    get:
      summary: Get current user
      tags:
        - Users
      description: Retrieves the current user's information. Requires user role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1014
                error: User not found
        '500':
          description: Internal Server Error - Failed to fetch user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  '/users/{userId}':
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the user
    get:
      summary: Get user by ID
      tags:
        - Users
      description: Retrieves a specific user by their ID. Requires superadmin role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request - Invalid UUID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1048
                error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have superadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1014
                error: User not found
        '500':
          description: Internal Server Error - Failed to fetch user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
    put:
      summary: Update user
      tags:
        - Users
      description: >-
        Updates a user's information. User can only update their own
        information.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: john.doe@example.com
                role:
                  type: string
                  enum:
                    - superadmin
                    - user
                  example: user
                  description: User role - only superadmins can modify this field
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
                Invalid Role:
                  value:
                    code: AT-1048
                    error: Role must be either "superadmin" or "user"
                No Fields to Update:
                  value:
                    code: AT-1017
                    error: No valid fields provided to update
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: >-
            Forbidden - User cannot update other users or modify roles without
            superadmin privileges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Access Forbidden:
                  value:
                    code: AT-1086
                    error: Access forbidden
                Role Update Forbidden:
                  value:
                    code: AT-1086
                    error: Access forbidden
        '404':
          description: Not Found - User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1014
                error: User not found
        '500':
          description: Internal Server Error - Failed to update user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
    delete:
      summary: Delete user
      tags:
        - Users
      description: Deletes a user account.
      security:
        - bearerAuth: []
      responses:
        '204':
          description: User deleted successfully
        '400':
          description: Bad Request - Invalid UUID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1048
                error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1014
                error: User not found
        '500':
          description: Internal Server Error - Failed to delete user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  /users/batch-delete:
    post:
      summary: Delete users in batch
      tags:
        - Users
      description: Deletes multiple users simultaneously.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - userIds
      responses:
        '204':
          description: Users deleted successfully
        '1014':
          description: Not Found - User(s) not found
        '1018':
          description: Unauthorized - Invalid or missing token
        '1093':
          description: User ID(s) required
  '/users/{userId}/leave_org':
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the user
    post:
      summary: Leave organization
      tags:
        - Users
      description: >-
        Removes the user from their current organization. User can only leave
        their own organization.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orgRef:
                  type: string
                  format: uuid
                  example: 123e4567-e89b-12d3-a456-426614174000
                  description: ID of the organization to leave
              required:
                - organisation
      responses:
        '200':
          description: Successfully left organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: >-
                      User 123e4567-e89b-12d3-a456-426614174000 left
                      organisation 123e4567-e89b-12d3-a456-426614174000
        '400':
          description: Bad Request - Missing or invalid organisation in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
                Organization ID Required:
                  value:
                    code: AT-1021
                    error: Organization ID is required
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User cannot leave other users' organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - User or membership not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                User Not Found:
                  value:
                    code: AT-1014
                    error: User not found
                Organization Not Found:
                  value:
                    code: AT-1003
                    error: Organisation not found
                Membership Not Found:
                  value:
                    code: AT-1019
                    error: >-
                      Member not found in organisation
                      '123e4567-e89b-12d3-a456-426614174000'
        '500':
          description: Internal Server Error - Failed to leave organisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  '/users/{userId}/join_org':
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the user
    post:
      summary: Request to join organization
      tags:
        - Users
      description: >-
        Sends a request to join an organization. User can only request to join
        for themselves.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orgId:
                  type: string
                  format: uuid
                  example: 123e4567-e89b-12d3-a456-426614174000
              required:
                - orgId
      responses:
        '200':
          description: Join request sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
                Already Member:
                  value:
                    code: AT-1041
                    error: User is already a member of the organisation
                Already Pending:
                  value:
                    code: AT-1082
                    error: User is already a pending member of the organisation
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User cannot request to join for other users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - User or organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                User Not Found:
                  value:
                    code: AT-1014
                    error: User not found
                Organization Not Found:
                  value:
                    code: AT-1003
                    error: Organisation not found
        '500':
          description: Internal Server Error - Failed to process join request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  '/users/{userId}/memberships':
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the user
    get:
      summary: Get user memberships
      tags:
        - Users
      description: >-
        Retrieves all organization memberships for a specific user. Requires
        superadmin role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User memberships retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '400':
          description: Bad Request - Invalid UUID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1048
                error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have superadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1014
                error: User not found
        '500':
          description: Internal Server Error - Failed to retrieve user memberships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  /users/login:
    parameters: []
    post:
      summary: Login user
      tags:
        - Users
      description: Logs in a user and returns an access token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: my_username
                  description: Username of the user
                password:
                  type: string
                  example: my_password
                  description: Password of the user
              required:
                - username
                - password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    example: >-
                      OOFNZ@*H4IN$NZqtV1PfCMjUccoAZPV6VlM07yBe30Yd%FtjNpf^NV%32yqB7wSg*hkf
                  refreshToken:
                    type: string
                    example: >-
                      0i*gmQEco0KW!$SfTp8gyXuEa3w%KTyLTJeFMHuBDuKiJ^!tD4A8@dNK$nS^&LDJ0jai
        '400':
          description: 'Bad Request, failed to login user'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Missing Fields:
                  value:
                    code: AT-1016
                    error: Username and password are required
                Login Failed:
                  value:
                    code: AT-1015
                    error: User login failed
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
        '500':
          description: Internal Server Error - Failed to login user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  /orgs:
    get:
      summary: Get all organisations
      tags:
        - Organisations
      description: |-
        Retrieves a paginated list of all organisations. 

        **Lowest role:** <code>superadmin</code>

        **Datatype:** [Organisation](#model-Organisation)
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: 'Maximum number of organisations to return (10-1000, default: 100)'
          required: false
          schema:
            type: integer
            minimum: 10
            maximum: 1000
            default: 100
            example: 100
        - name: lastEvaluatedKey
          in: query
          description: Token for pagination. Use this to get the next page of results.
          required: false
          schema:
            type: string
            example: pagination-token
      responses:
        '200':
          description: Paginated list of organisations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organisation'
                    description: Array of organisations for the current page
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                  - items
                  - pagination
        '400':
          description: Bad Request - Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Invalid Limit:
                  value:
                    code: AT-1055
                    error: Pagination limit must be between 10 and 1000
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have superadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '500':
          description: Internal Server Error - Failed to fetch organisations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
    post:
      summary: Create a new organisation
      tags:
        - Organisations
      description: |2

          Creates a new organisation. 
          
          **Lowest role:** <code>user</code>
          
          **Datatype:** [Organisation](#model-Organisation)
          
          ### Datatype properties in request
          
          | Property | Required |
          |----------|----------|
          | <code>type</code> | ✓ |
          | <code>legalName</code> | ✓ |
          | <code>countryCode</code> | ✓ |
          | <code>legalIdentifier</code> | ✓ |
          | <code>legalIdentifierCode</code> | ✓ |
          | <code>shortName</code> | |
          | <code>sharedModeEnabled</code> | |
          | <code>certificates</code> | |
          | <code>businessContact</code> | |
          
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            examples:
              minimal:
                summary: Minimal create
                value:
                  legalName: Acme Corporation Ltd
                  countryCode: SE
                  legalIdentifier: '123456789'
                  legalIdentifierCode: 'SE:ORGNR'
      responses:
        '201':
          description: Organisation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '400':
          description: Bad Request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
                Legal Identifier Exists:
                  value:
                    code: AT-1047
                    error: An organization with this legal identifier already exists
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '500':
          description: Internal Server Error - Failed to create organisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  '/orgs/{orgId}':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    get:
      summary: Get organisation by ID
      tags:
        - Organisations
      description: |-
        Retrieves a specific organisation by its ID.

        **Lowest role:** <code>orgmember</code>

        **Datatype:** [Organisation](#model-Organisation)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Organisation retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
              example:
                type: ORGANISATION
                id: 123e4567-e89b-12d3-a456-426614174000
                legalName: Acme Corporation Ltd
                shortName: Acme Corp
                countryCode: SE
                legalIdentifier: '123456789'
                legalIdentifierCode: 'SE:ORGNR'
                organisationMode: DEMO
                modeChangeRequest: SHARED
                certificates:
                  - name: Production Certificate
                    type: X509
                    id: cert-123
                contacts:
                  - name: John Doe
                    email: info@acme.com
                    phone: +1-555-1234
                    title: Acme Corporation
                    contactType: BUSINESS
                    webContactUrl: 'https://acme.com'
                    annotation: Business contact information
                businessAddress:
                  streetAddress: 123 Main St
                  city: Anytown
                  country: United States
                  postalCode: '12345'
                website: 'https://www.acme.com'
                createdAt: '2024-03-20T10:00:00Z'
                createdBy:
                  userId: user-uuid-1
                lastModifiedAt: '2024-03-21T10:00:00Z'
                lastModifiedBy:
                  userId: user-uuid-2
        '400':
          description: Bad Request - Invalid UUID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1048
                error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Access Forbidden:
                  value:
                    code: AT-1086
                    error: Access forbidden
                User Not Member:
                  value:
                    code: AT-1050
                    error: User is not a member of this organization
        '404':
          description: Not Found - Organisation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1003
                error: Organisation not found
        '500':
          description: Internal Server Error - Failed to fetch organisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
    put:
      summary: Update organisation
      tags:
        - Organisations
      description: >-
        Updates an existing organisation.


        **Lowest role:** <code>orgmember</code>


        **Datatype:** [Organisation](#model-Organisation)


        ### Mode Change Workflow


        **Request mode change (org admin):**

        - Set <code>modeChangeRequest</code> to desired mode (WHITELABEL or
        SHARED)

        - Validates against current <code>organisationMode</code>

        - DEMO can request WHITELABEL or SHARED

        - WHITELABEL can request SHARED

        - SHARED cannot request changes


        **Approve mode change (superadmin only):**

        - Set <code>organisationMode</code> to requested mode

        - Automatically clears <code>modeChangeRequest</code>


        **Reject mode change (superadmin only):**

        - Set <code>modeChangeRequest</code> to null


        ### Datatype properties in request


        | Property | Required |

        |----------|----------|

        | <code>type</code> | ✓ |

        | <code>legalName</code> | ✓ |

        | <code>countryCode</code> | ✓ |

        | <code>legalIdentifier</code> | ✓ |

        | <code>legalIdentifierCode</code> | ✓ |

        | <code>shortName</code> | |

        | <code>organisationMode</code> | (superadmin only) |

        | <code>modeChangeRequest</code> | |

        | <code>sharedModeEnabled</code> | |

        | <code>certificates</code> | |

        | <code>businessContact</code> | |
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            examples:
              minimal:
                summary: Minimal Update
                value:
                  legalName: Acme Corporation Ltd
                  countryCode: SE
                  legalIdentifier: '123456789'
                  legalIdentifierCode: 'SE:ORGNR'
              requestModeChange:
                summary: Request Mode Change (Org Admin)
                value:
                  modeChangeRequest: WHITELABEL
              approveModeChange:
                summary: Approve Mode Change (Superadmin)
                value:
                  organisationMode: WHITELABEL
              rejectModeChange:
                summary: Reject Mode Change (Superadmin)
                value:
                  modeChangeRequest: null
      responses:
        '200':
          description: Organisation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '400':
          description: Bad Request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
                No Fields to Update:
                  value:
                    code: AT-1052
                    error: Request body is empty
                Invalid Fields:
                  value:
                    code: AT-1053
                    error: >-
                      Only legalName, shortName can be updated. Invalid fields:
                      invalidField
                Legal Identifier Exists:
                  value:
                    code: AT-1047
                    error: An organization with this legal identifier already exists
                Invalid Mode Change:
                  value:
                    code: AT-1054
                    error: >-
                      Invalid mode change request: Organisations in SHARED mode
                      cannot request mode changes
                Unauthorized Mode Update:
                  value:
                    code: AT-1049
                    error: Unauthorized
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Access Forbidden:
                  value:
                    code: AT-1086
                    error: Access forbidden
                User Not Member:
                  value:
                    code: AT-1050
                    error: User is not a member of this organization
                User Not Admin:
                  value:
                    code: AT-1051
                    error: Only orgadmins can update organization details
        '404':
          description: Not Found - Organisation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1003
                error: Organisation not found
        '500':
          description: Internal Server Error - Failed to update organisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
    delete:
      summary: Delete organisation
      tags:
        - Organisations
      description: |-
        Deletes an organisation.

        **Lowest role:** <code>superadmin</code>
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Organisation deleted successfully
        '400':
          description: Bad Request - Invalid UUID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1048
                error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have superadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - Organisation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1003
                error: Organisation not found
        '500':
          description: Internal Server Error - Failed to delete organisation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  /orgs/batch-delete:
    post:
      summary: Delete organisations in batch
      tags:
        - Organisations
      description: Deletes multiple organisations in a single operation.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orgIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - orgIds
      responses:
        '204':
          description: Organisation(s) deleted successfully
        '1003':
          description: Not Found - Organisation(s) not found
        '1018':
          description: Unauthorized - Invalid or missing token
        '1091':
          description: Organisation ID(s) required
  '/orgs/{orgId}/child_orgs':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the parent organisation
    get:
      summary: Get child organisations
      tags:
        - Child Organisations
      description: >-
        Retrieves a list of all child organisations for a given parent
        organisation. Requires orgmember role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of child organisations retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organisation'
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have required role
        '404':
          description: Not Found - Parent organisation not found
    post:
      summary: Create child organisation
      tags:
        - Child Organisations
      description: >-
        Creates a new child organisation under the specified parent
        organisation. Requires orgmember role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organisation'
      responses:
        '201':
          description: Child organisation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have required role
        '404':
          description: Not Found - Parent organisation not found
  '/orgs/{orgId}/child_orgs/batch_delete':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the parent organisation
    post:
      summary: Delete multiple child organisations
      tags:
        - Child Organisations
      description: >-
        Deletes multiple child organisations in a single operation. Requires
        orgmember role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                childOrgIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Array of child organisation IDs to delete
              required:
                - childOrgIds
      responses:
        '204':
          description: Child organisations deleted successfully
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have required role
        '404':
          description: Not Found - Parent organisation not found
  '/orgs/{orgId}/child_orgs/{childOrgId}':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the parent organisation
      - name: childOrgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the child organisation
    put:
      summary: Update child organisation
      tags:
        - Child Organisations
      description: Updates an existing child organisation. Requires orgmember role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organisation'
      responses:
        '200':
          description: Child organisation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have required role
        '404':
          description: Not Found - Parent or child organisation not found
  '/orgs/{orgId}/members':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
      - name: limit
        in: query
        description: 'Maximum number of members to return (10-1000, default: 100)'
        required: false
        schema:
          type: integer
          minimum: 10
          maximum: 1000
          default: 100
          example: 100
      - name: lastEvaluatedKey
        in: query
        description: Token for pagination. Use this to get the next page of results.
        required: false
        schema:
          type: string
          example: pagination-token
    get:
      summary: Get all members
      tags:
        - Members
      description: >-
        Retrieves a paginated list of all members for an organisation. Requires
        orgadmin role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Paginated list of members retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
                    description: Array of members for the current page
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                  - items
                  - pagination
        '400':
          description: Bad Request - Invalid pagination parameters
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation not found
    post:
      summary: Create new member
      tags:
        - Members
      description: Creates a new member in the organisation. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - orgadmin
                    - orgmember
                  example: orgmember
                userRef:
                  type: string
                  format: uuid
                  example: 123e4567-e89b-12d3-a456-426614174000
                name:
                  type: string
                  example: John Doe
                  nullable: true
              required:
                - role
                - userRef
      responses:
        '201':
          description: Member created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation not found
  '/orgs/{orgId}/members/pending':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    get:
      summary: Get pending members
      tags:
        - Members
      description: >-
        Retrieves a list of all pending members for an organisation. Requires
        orgadmin role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of pending members retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation not found
  '/orgs/{orgId}/members/approve':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    put:
      summary: Approve pending member
      tags:
        - Members
      description: Approves a pending member request. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  format: uuid
                  example: 123e4567-e89b-12d3-a456-426614174000
              required:
                - memberId
      responses:
        '200':
          description: Member approved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation or member not found
  '/orgs/{orgId}/members/reject':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    put:
      summary: Reject pending member
      tags:
        - Members
      description: Rejects a pending member request. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  format: uuid
                  example: 123e4567-e89b-12d3-a456-426614174000
              required:
                - memberId
      responses:
        '200':
          description: Member rejected successfully
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation or member not found
  '/orgs/{orgId}/members/{memberId}':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
      - name: memberId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the member
    put:
      summary: Update member
      tags:
        - Members
      description: Updates an existing member. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - orgadmin
                    - orgmember
                  example: orgmember
                name:
                  type: string
                  example: John Doe
                  nullable: true
      responses:
        '200':
          description: Member updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation or member not found
    delete:
      summary: Delete member
      tags:
        - Members
      description: Deletes a member from the organisation. Requires orgadmin role.
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Member deleted successfully
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation or member not found
  '/orgs/{orgId}/members/batch-delete':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    post:
      summary: Batch delete members in an organisation
      tags:
        - Members
      description: Deletes multiple members by ID. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                memberIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - memberIds
      responses:
        '204':
          description: Members deleted successfully
        '1018':
          description: Unauthorized
        '1038':
          description: Bad Request URL - Organisation ID required
        '1042':
          description: Bad Request - Member ID(s) required
        '1045':
          description: Not Found - one or more members not found
        '1086':
          description: Forbidden
  '/orgs/{orgId}/api_keys':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    get:
      summary: Get all API keys
      tags:
        - API Keys
      description: >-
        Retrieves a list of all API keys for an organisation. Requires orgadmin
        role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have orgadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - Organisation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1003
                error: Organisation not found
    post:
      summary: Generate new API key
      tags:
        - API Keys
      description: Generates a new API key for the organisation. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Production API Key
                description:
                  type: string
                  example: API key for production environment
                  nullable: true
                expires:
                  type: string
                  format: date-time
                  example: '2024-12-31T23:59:59Z'
                  nullable: true
              required:
                - name
      responses:
        '201':
          description: API key generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          description: Bad Request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Missing Organization ID:
                  value:
                    code: AT-1021
                    error: Organization ID is required
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have orgadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - Organisation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1003
                error: Organisation not found
  '/orgs/{orgId}/api_keys/{apiKeyId}':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
      - name: apiKeyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the API key
    put:
      summary: Update API key
      tags:
        - API Keys
      description: Updates an existing API key. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Updated API Key Name
                description:
                  type: string
                  example: Updated API key description
                  nullable: true
                isActive:
                  type: boolean
                  example: true
                expires:
                  type: string
                  format: date-time
                  example: '2024-12-31T23:59:59Z'
                  nullable: true
      responses:
        '200':
          description: API key updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          description: Bad Request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Missing API Key ID:
                  value:
                    code: AT-1022
                    error: API key ID is required
                Invalid Fields:
                  value:
                    code: AT-1023
                    error: Invalid fields for API key
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have orgadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - Organisation or API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Organization Not Found:
                  value:
                    code: AT-1003
                    error: Organisation not found
                API Key Not Found:
                  value:
                    code: AT-1020
                    error: API key not found
    delete:
      summary: Delete API key
      tags:
        - API Keys
      description: Deletes an API key. Requires orgadmin role.
      security:
        - bearerAuth: []
      responses:
        '204':
          description: API key deleted successfully
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have orgadmin role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - Organisation or API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Organization Not Found:
                  value:
                    code: AT-1003
                    error: Organisation not found
                API Key Not Found:
                  value:
                    code: AT-1020
                    error: API key not found
  '/orgs/{orgId}/api_keys/batch-delete':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    post:
      summary: Batch delete API keys
      tags:
        - API Keys
      description: Deletes multiple API keys by ID. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKeyIds:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - apiKeyIds
      responses:
        '204':
          description: API Keys deleted successfully
        '1018':
          description: Unauthorized
        '1020':
          description: Not found - one or more API keys not found
        '1022':
          description: API Key(s) are required
        '1086':
          description: Forbidden
  '/orgs/{orgId}/certificates':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    get:
      summary: List all certificates
      tags:
        - Certificates
      description: >-
        Retrieves a list of all certificates for an organisation. Requires
        orgadmin role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of certificates retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Certificate'
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation not found
    post:
      summary: Create new certificate
      tags:
        - Certificates
      description: >-
        Creates a new certificate for the organisation. Requires orgadmin role.
        Note: Organisations in DEMO mode cannot create certificates.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Test Peppol AP Certificate
                  description: Name of the certificate for identification purposes
                description:
                  type: string
                  example: Production certificate for Peppol Access Point
                  description: >-
                    Admin controlled descriptive text to facilitate certificate
                    management in GUIs
                  nullable: true
                environment:
                  type: string
                  enum:
                    - prod
                    - test
                  example: test
                  description: >-
                    Indicates whether the certificate is intended for use in the
                    production or test environment
                transportProfile:
                  type: string
                  enum:
                    - peppol-transport-as4-v2_0
                    - dbna
                    - nemhandel
                  example: peppol-transport-as4-v2_0
                  description: The eDelivery framework this certificate is used for
                service:
                  type: string
                  enum:
                    - AP
                    - SMP
                  example: AP
                  description: >-
                    The service type this certificate is used for (Access Point
                    or SMP)
                certPem:
                  type: string
                  example: |-
                    -----BEGIN CERTIFICATE-----
                    ...
                    -----END CERTIFICATE-----
                  description: >-
                    The X.509 certificate in PEM format, containing the public
                    key and certificate details
                privateKeyPem:
                  type: string
                  example: |-
                    -----BEGIN PRIVATE KEY-----
                    ...
                    -----END PRIVATE KEY-----
                  description: >-
                    The private key in PEM format, used for signing and
                    decryption operations. This field is optional - if not
                    provided, the certificate will be created without private
                    key
                caChainPem:
                  type: string
                  example: |-
                    -----BEGIN CERTIFICATE-----
                    ...
                    -----END CERTIFICATE-----
                  description: >-
                    The CA chain in PEM format, containing the certificate
                    authority chain
              required:
                - name
                - environment
                - transportProfile
                - service
                - certPem
                - caChainPem
            examples:
              Certificate with private key:
                summary: >-
                  Create certificate with private key for full encryption
                  capabilities
                value:
                  name: Production Peppol AP Certificate
                  description: >-
                    Production certificate for Peppol Access Point with full
                    encryption capabilities
                  environment: prod
                  transportProfile: peppol-transport-as4-v2_0
                  service: AP
                  certPem: >-
                    -----BEGIN CERTIFICATE-----

                    MIIFazCCA1OgAwIBAgIRAIIQz7DSQONZRGPgu2OCiwAwDQYJKoZIhvcNAQEL...

                    -----END CERTIFICATE-----
                  privateKeyPem: >-
                    -----BEGIN PRIVATE KEY-----

                    MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC/EmPq7pPoqTc1

                    -----END PRIVATE KEY-----
                  caChainPem: >-
                    -----BEGIN CERTIFICATE-----

                    MIIFazCCA1OgAwIBAgIRAIIQz7DSQONZRGPgu2OCiwAwDQYJKoZIhvcNAQEL...

                    -----END CERTIFICATE-----
              Certificate without private key:
                summary: Create certificate without private key (read-only)
                value:
                  name: Read-only Peppol AP Certificate
                  description: >-
                    Certificate for Peppol Access Point without private key -
                    read-only access only
                  environment: test
                  transportProfile: peppol-transport-as4-v2_0
                  service: AP
                  certPem: >-
                    -----BEGIN CERTIFICATE-----

                    MIIFazCCA1OgAwIBAgIRAIIQz7DSQONZRGPgu2OCiwAwDQYJKoZIhvcNAQEL...

                    -----END CERTIFICATE-----
                  caChainPem: >-
                    -----BEGIN CERTIFICATE-----

                    MIIFazCCA1OgAwIBAgIRAIIQz7DSQONZRGPgu2OCiwAwDQYJKoZIhvcNAQEL...

                    -----END CERTIFICATE-----
      responses:
        '201':
          description: Certificate created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: >-
            Forbidden - User does not have orgadmin role or organisation in DEMO
            mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                DEMO Mode Restriction:
                  value:
                    code: AT-1097
                    error: Organisations in DEMO mode cannot create certificates
        '404':
          description: Not Found - Organisation not found
        '500':
          description: Internal Server Error - Failed to create certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1004
                error: Certificate not found
  '/orgs/{orgId}/certificates/{certId}':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
      - name: certId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the certificate
    get:
      summary: Get certificate by ID
      tags:
        - Certificates
      description: Retrieves a specific certificate by its ID. Requires orgadmin role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Certificate retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - Organisation or certificate not found
  '/orgs/{orgId}/certificates/batch_delete':
    parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the organisation
    post:
      summary: Delete multiple certificates
      tags:
        - Certificates
      description: >-
        Deletes multiple certificates by their IDs. If any certificate does not
        exist, returns a 404 error with the list of non-existent certificate
        IDs. Requires orgadmin role.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
              example:
                - 123e4567-e89b-12d3-a456-426614174000
                - 987fcdeb-51d3-a456-426614174000
              description: Array of certificate IDs to delete
      responses:
        '204':
          description: All certificates deleted successfully
        '400':
          description: Bad Request - Empty array of certificate IDs provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1048
                error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
        '403':
          description: Forbidden - User does not have orgadmin role
        '404':
          description: Not Found - One or more certificates not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1004
                error: Certificates not found
  '/orgs/{orgId}/smps':
    get:
      summary: Get all SMPs for an organization
      tags:
        - SMP
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of SMPs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Smp'
    post:
      summary: Create a new SMP
      tags:
        - SMP
      description: >-
        Creates a new Service Metadata Publisher (SMP). The certificate must
        exist and have service type "SMP".
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSmpInput'
            example:
              name: Production SMP
              description: SMP for production environment
              smpUrl: 'https://smp.example.com/peppol'
              certificateRef: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '201':
          description: SMP created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Smp'
              example:
                id: 123e4567-e89b-12d3-a456-426614174000
                type: SMP
                orgId: 123e4567-e89b-12d3-a456-426614174000
                name: Production SMP
                description: SMP for production environment
                certificateRef: 123e4567-e89b-12d3-a456-426614174000
                createdBy:
                  userId: 123e4567-e89b-12d3-a456-426614174000
                createdAt: '2024-03-20T10:00:00Z'
        '400':
          description: Invalid input data or certificate usage validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Validation Error:
                  value:
                    code: AT-1048
                    error: Validation failed
                Certificate Usage Error:
                  value:
                    code: AT-1015
                    error: Certificate usage invalid
        '404':
          description: Certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1078
                error: Certificate not found
  '/orgs/{orgId}/smps/alltouse':
    get:
      summary: Get all usable SMPs
      tags:
        - SMP
      description: >-
        Retrieves a list of all SMPs that are available for use in the specified
        organization. This endpoint requires organization member role or higher.
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier of the organization
      responses:
        '200':
          description: List of usable SMPs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Smp'
              example:
                - id: 123e4567-e89b-12d3-a456-426614174000
                  type: SMP
                  orgId: 123e4567-e89b-12d3-a456-426614174000
                  name: Production SMP
                  description: SMP for production environment
                  certificateRef: 123e4567-e89b-12d3-a456-426614174000
                  environment: PROD
                  createdBy:
                    userId: 123e4567-e89b-12d3-a456-426614174000
                  createdAt: '2024-03-20T10:00:00Z'
                  lastModifiedBy:
                    userId: 123e4567-e89b-12d3-a456-426614174000
                  lastModifiedAt: '2024-03-20T11:00:00Z'
        '401':
          description: Unauthorized - Authentication required
        '403':
          description: >-
            Forbidden - Insufficient permissions (requires orgmember role or
            higher)
  '/orgs/{orgId}/smps/{smpId}':
    get:
      summary: Get SMP by ID
      tags:
        - SMP
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: smpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: SMP details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Smp'
              example:
                id: 123e4567-e89b-12d3-a456-426614174000
                type: SMP
                orgId: 123e4567-e89b-12d3-a456-426614174000
                name: Production SMP
                description: SMP for production environment
                certificateRef: 123e4567-e89b-12d3-a456-426614174000
                environment: PROD
                createdBy:
                  userId: 123e4567-e89b-12d3-a456-426614174000
                createdAt: '2024-03-20T10:00:00Z'
                lastModifiedBy:
                  userId: 123e4567-e89b-12d3-a456-426614174000
                lastModifiedAt: '2024-03-20T11:00:00Z'
    put:
      summary: Update SMP
      tags:
        - SMP
      description: >-
        Updates an existing Service Metadata Publisher (SMP). The certificate
        must exist and have service type "SMP".
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: smpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSmpInput'
            example:
              name: Updated SMP Name
              description: Updated SMP description
              smpUrl: 'https://updated-smp.example.com/peppol'
              certificateRef: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: SMP updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Smp'
              example:
                id: 123e4567-e89b-12d3-a456-426614174000
                type: SMP
                orgId: 123e4567-e89b-12d3-a456-426614174000
                name: Updated SMP Name
                description: Updated SMP description
                certificateRef: 123e4567-e89b-12d3-a456-426614174000
                environment: PROD
                createdBy:
                  userId: 123e4567-e89b-12d3-a456-426614174000
                createdAt: '2024-03-20T10:00:00Z'
                lastModifiedBy:
                  userId: 123e4567-e89b-12d3-a456-426614174000
                lastModifiedAt: '2024-03-20T11:00:00Z'
        '400':
          description: Invalid input data or certificate usage validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Validation Error:
                  value:
                    code: AT-1048
                    error: Validation failed
                Certificate Usage Error:
                  value:
                    code: AT-1015
                    error: Certificate usage invalid
        '404':
          description: SMP not found or certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                SMP Not Found:
                  value:
                    code: AT-1002
                    error: SMP not found
                Certificate Not Found:
                  value:
                    code: AT-1078
                    error: Certificate not found
  '/orgs/{orgId}/smps/batch_delete':
    post:
      summary: Delete multiple SMPs
      tags:
        - SMP
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
            example:
              - 123e4567-e89b-12d3-a456-426614174000
              - 123e4567-e89b-12d3-a456-426614174001
      responses:
        '204':
          description: SMPs deleted successfully
  /countries:
    get:
      summary: List countries
      tags:
        - Read-only Reference Data
      description: >-
        Retrieves a list of all countries with their details. Supports filtering
        by region, subRegion, and code. 


        **Lowest role:** <code>public</code>


        **Datatype:** [Country](#model-Country)
      parameters:
        - name: filter
          in: query
          required: false
          description: >-
            Filter expression in format "field:operator:value". Supported
            fields: region, subRegion, code.
          schema:
            type: string
            example: 'region:eq:Europe'
      responses:
        '200':
          description: List of countries retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
                    description: Array of countries
                required:
                  - items
        '400':
          description: Bad Request - Invalid filter expression
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1048
                error: Validation failed
        '500':
          description: Internal Server Error - Failed to fetch countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  /participant_identifiers:
    get:
      summary: List participant identifiers
      tags:
        - Read-only Reference Data
      description: >-
        Retrieves a list of all participant identifier schemes. Supports
        filtering by country, state, schemeid, and iso6523.


        **Lowest role:** <code>user</code>


        **Datatype:** [ParticipantIdentifier](#model-ParticipantIdentifier)
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: filter
          in: query
          required: false
          description: >-
            Filter expression in format "field:operator:value". Supported
            fields: country, state, schemeid, iso6523.
          schema:
            type: string
            example: 'country:eq:SE'
      responses:
        '200':
          description: List of participant identifiers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParticipantIdentifier'
                    description: Array of participant identifiers
                required:
                  - items
        '400':
          description: Bad Request - Invalid filter expression
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Invalid Filter Field:
                  value:
                    code: AT-1070
                    error: >-
                      Invalid filter: Field "invalidField" is not allowed for
                      filtering
                Validation Failed:
                  value:
                    code: AT-1048
                    error: Validation failed
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '500':
          description: Internal Server Error - Failed to fetch participant identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              examples:
                Fetch Failed:
                  value:
                    code: AT-1071
                    error: Failed to fetch participant identifiers
                Unexpected Error:
                  value:
                    code: AT-1010
                    error: Unexpected error. Please try again later.
  '/orgs/{orgId}/participants':
    get:
      summary: Get all participants for an organization
      tags:
        - Participants
      description: >-
        Retrieves a paginated list of all participants belonging to the
        specified organization.


        **Lowest role:** <code>orgadmin</code>


        **Datatype:** [Participant](#model-Participant)
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The organization ID
        - name: limit
          in: query
          description: 'Maximum number of participants to return (10-1000, default: 100)'
          required: false
          schema:
            type: integer
            minimum: 10
            maximum: 1000
            default: 100
            example: 100
        - name: lastEvaluatedKey
          in: query
          description: Token for pagination. Use this to get the next page of results.
          required: false
          schema:
            type: string
            example: pagination-token
      responses:
        '200':
          description: Paginated list of participants retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Participant'
                    description: Array of participants for the current page
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                  - items
                  - pagination
        '400':
          description: Bad Request - Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1055
                error: Limit must be between 1 and 100
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '500':
          description: Internal Server Error - Failed to fetch participants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
    post:
      summary: Create a new participant
      tags:
        - Participants
      description: |+
        Creates a new participant for the specified organization.

        **Lowest role:** <code>orgadmin</code>

        **Datatype:** [Participant](#model-Participant)

          | Property | Required |
          |----------|----------|
          | <code>name</code> | ✓ |
          | <code>participantIdentifier</code> | ✓ |
          | <code>transportProfile</code> | ✓ |
          | <code>smpRef</code> | ✓ |
          | <code>apRef</code> | ✓ |
          | <code>businessCard</code> | |

      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The organization ID
      requestBody:
        required: true
        content:
          application/json:
            examples:
              minimal:
                summary: Minimal create
                value:
                  tbd: Acme Corporation Ltd
                  tbd2: SE
                  legalIdentifier: '123456789'
                  legalIdentifierCode: 'SE:ORGNR'
      responses:
        '201':
          description: Participant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '400':
          description: Bad Request - Validation failed or participant already exists in SMP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '422':
          description: >-
            Unprocessable Entity - SMP or AP reference does not exist in the
            system, or organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
        '500':
          description: Internal Server Error - Failed to create participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
  '/orgs/{orgId}/participants/{participantId}':
    get:
      summary: Get participant by ID
      tags:
        - Participants
      description: >-
        Retrieves a specific participant by its ID within the specified
        organization.


        **Lowest role:** <code>orgadmin</code>


        **Datatype:** [Participant](#model-Participant)
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The organization ID
        - name: participantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The participant ID
      responses:
        '200':
          description: Participant retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1018
                error: Unauthorized
        '403':
          description: Forbidden - User does not have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1086
                error: Access forbidden
        '404':
          description: Not Found - Participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1025
                error: Participant not found
        '500':
          description: Internal Server Error - Failed to fetch participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorV1'
              example:
                code: AT-1010
                error: Unexpected error. Please try again later.
    put:
      summary: Update participant
      tags:
        - Participants
      description: |-
        Updates an existing participant within the specified organization.

        **Lowest role:** <code>orgadmin</code>

        **Datatype:** [Participant](#model-Participant)

        ### Datatype properties in request

        | Property | Required |
[...]
