openapi: 3.1.0
info:
  title: Let's Peppol Proxy
  description: ''
  version: 1.0.0
  x-logo:
    url: https://raw.githubusercontent.com/letspeppol/letspeppol/main/docs/logo.png
servers:
  - url: https://api.letspeppol.org
    description: Let's Peppol Proxy testnet instance
security:
  - Bearer: []
paths:
  /v1/invoices/incoming:
    get:
      summary: List incoming invoices
      operationId: listIncomingInvoices
      tags:
        - Invoices
      parameters:
        - name: pageSize
          in: query
          description: Number of items to return per page
          required: false
          schema:  
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Page to retrieve
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of outgoing invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '500':
          description: Internal Server Error - An error occurred on the server
  /v1/invoices/outgoing:
    get:
      summary: List outgoing invoices
      operationId: listOutgoingInvoices
      tags:
        - Invoices
      parameters:
        - name: pageSize
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Page to retrieve
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of outgoing invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '500':
          description: Internal Server Error - An error occurred on the server
  /v1/credit-notes/incoming:
    get:
      summary: List incoming credit notes
      operationId: listIncomingCreditNotes
      tags:
        - Credit Notes
      parameters:
        - name: pageSize
          in: query
          description: Number of items to return per page
          required: false
          schema:  
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Page to retrieve
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of outgoing invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '500':
          description: Internal Server Error - An error occurred on the server
  /v1/credit-notes/outgoing:
    get:
      summary: List outgoing credit notes
      operationId: listOutgoingCreditNotes
      tags:
        - Credit Notes
      parameters:
        - name: pageSize
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Page to retrieve
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of outgoing invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          description: Bad Request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '500':
          description: Internal Server Error - An error occurred on the server
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Document:
      type: object
      properties:
        senderId:
          type: string
        receiverId:
          type: string
        docType:
          type: string
          enum:
            - invoice
            - credit-note
        direction:
          type: string
          enum:
            - incoming
            - outgoing
        platformId:
          type: string
        createdAt:
          type: string
          format: date-time
        issueDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        ubl:
          type: string
        paymentTermsNote:
          type: string
syncables:
  IncomingInvoices:
    description: |-
      Invoice Documents received by the authenticated user.
    type: collection
    get:
      path: /v1/invoices/incoming
      paging:
        pageParam: page # optional for first page, >=1 for subsequent pages
        pageSizeParam: perPage
  OutgoingInvoices:
    description: |-
      Invoice Documents sent by the authenticated user.
    type: collection
    get:
      path: /v1/invoices/outgoing
      paging:
        pageParam: page # optional for first page, >=1 for subsequent pages
        pageSizeParam: perPage
  IncomingCreditNotes:
    description: |-
      Credit Note Documents received by the authenticated user.
    type: collection
    get:
      path: /v1/credit-notes/incoming
      paging:
        pageParam: page # optional for first page, >=1 for subsequent pages
        pageSizeParam: perPage
  OutgoingCreditNotes:
    description: |-
      Credit Note Documents sent by the authenticated user.
    type: collection
    get:
      path: /v1/credit-notes/outgoing
      paging:
        pageParam: page # optional for first page, >=1 for subsequent pages
        pageSizeParam: perPage